.MHBAdvisorsPic {
  height: auto;
  max-width: 100%;
  margin-top: 3.5em;
}

.about {
  padding: 60px 0px 60px 0px;
  display: block;
}

.about-title {
  margin: 0;
  font-size: 37px;
  color: #333333;
  font-weight: bold;
}
.about p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
