.venndiagram-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
  margin-left: auto;
  text-align: right;
  max-width: 650px;
}

.mhb_venndiagram {
    max-width: 100%;
    min-width: 50%;
    height: auto;
}

.clients-section-1 {
  padding: 4em 0 4em 0;
  background-color: #1a243d;
}

.clients-section-2 {
  background-color: rgb(221, 221, 221);
  padding: 4em 0 4em 0;
}

.clients-title {
  margin-bottom: 20px;
}

.clients-section-title {
  margin: 0;
  font-size: 37px;
  color: black;
  font-weight: bolder;
}

.our-clients-subtitle {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 1.6em;
  font-style: italic;
  font-weight: bold;
  border-left: 3px solid #e0a965;
  padding-left: 25px;
  margin-top: 25px;
  max-width: 35em;
}

.clients-section-2-content {
  color: rgb(70, 70, 70);
  font-size: 16px;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: auto;
}

.feature-one__content li {
  margin-top: 1em;
}

.feature-one__title {
  font-size: 20px;
  font-weight: bold;
}

